* {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
}

.open-sans {
 font-family: "Open Sans", sans-serif;
 font-optical-sizing: auto;
}

/* navigation var style */

header nav {
 padding-top: 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;


}

nav img {
 width: 139px;
 height: 60px;
}

nav li {
 display: inline;
 padding-right: 32px;
 list-style: none;

}

nav a {
 text-decoration: none;
}

.btn {
 background-color: #30B868;
 padding: 13px 16px 13px 16px;
 border: none;
 border-radius: 5px;
 font-size: 16px;
 font-weight: 700;
 color: #FFFFFF;
 display: flex;
 align-items: center;
 justify-content: space-between;


}

.btn:hover {
 background-color: chartreuse;
 color: black;
}

/* banner container styles */
.banner-container {

 background-image: url(../assets/hero-bg.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;

 margin: 0 auto;
 width: 1600px;
 height: 674px;
 text-align: center;


}

.banner-content {
 width: 100%;
 text-align: center;
 padding: 162px 500px 0 450px;
}

.radio-btn {
 padding: 5px 10px;
 border: none;
 border-radius: 10px;
 background-color: #FFFFFF;
 font-size: 16px;
 font-weight: 600;
}

.excess-btn-img {
 padding-left: 5px;
}

.banner-content h1 {
 color: #FFFFFF;
 font-size: 60px;
 font-weight: bold;
 padding-top: 10px;
}

.extra-color {
 color: #30B868;
}

.banner-content p {
 color: #FFFFFF;
 font-size: 18px;
 font-weight: 400;
 padding: 15px 60px;
}



.banner-btn-section {
 display: flex;

 padding: 0 100px;
}

.work-btn {
 color: #FFFFFF;

 padding: 13px 16px 13px 16px;
 border: 1px solid #FFFFFF;
 border-radius: 5px;
 font-size: 16px;
 font-weight: 700;
 background-color: rgba(0, 0, 0, 0.007);



}

/* note-container style */
.note-container {
 width: 80%;

 margin: 0 auto;
 padding-top: 70px;
 padding-bottom: 70px;
 text-align: center;
}

.note-contants {
 display: flex;
 justify-content: space-around;
}

.note-container h1 {
 font-size: 48px;
 font-weight: bold;
 color: #001931;
 padding-bottom: 10px;
}

.note-para {
 padding-bottom: 20px;
}

.note-container p {
 font-size: 16px;
 font-weight: 400;
 color: #627382;
}

.note-contant {
 width: 322px;
 height: 300px;
 padding: 50px 20px 50px;
 box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.167);
}

.note-contant h2 {
 font-size: 24px;
 font-weight: 700;
 color: #001931;
 padding: 10px;
}

.note-contant img {
 color: #FFFFFF;
 background-color: #F95555;
 width: 50px;
 height: 50px;
 border-radius: 25px;
 padding: 10px;

}

/* success container section style*/


.success-container {

 padding-top: 100px;
 padding-bottom: 150px;
 display: flex;
 gap: 87px;
 width: 80%;


 justify-content: space-between;
 align-items: center;
}





.success-info h1 {
 font-size: 40px;
 font-weight: bold;
}

.success-info p {
 font-size: 16px;
 font-weight: 400;
 padding-top: 24px;
 padding-bottom: 10px;
}

.success-info li {
 list-style: none;
 font-size: 16px;
 font-weight: 400;
 padding-bottom: 5px;
}

.fa-solid {
 color: #16D887;
}

/* excess container style */
.excess-container {
 background-color: #F7F6F2;
 width: 80%;
 height: 340px;
 text-align: center;
 padding-top: 70px;

}

.excess-contents {
 width: 40%;
}

.excess-contents h1 {
 font-size: 40px;
 font-weight: bold;
 color: #627382;

}

.excess-contents p {
 font-size: 16px;
 font-weight: 400;
 padding: 10px 0;
 color: #627382;
}

/* footer section added */
footer {
 width: 100%;
 height: 348px;
 margin-top: 100px;
 background-color: #08213ddd;
 text-align: center;
}

.footer-container {
 padding: 100px 0;
 display: flex;



}

footer hr {
 width: 60%;
}

footer h3 {
 padding-bottom: 10px;
 font-size: 20px;
 font-weight: 600;
 color: #F7F6F2;
}


footer p {

 padding-top: 20px;
 font-size: 16px;
 font-weight: 400;
 color: #F7F6F2;
}

.fa-brands {
 background-color: #FFFFFF;
 border-radius: 5px;
 margin-left: 10px;

}